.wrapper {
    margin-top: 7%;
    
    .preview {
      display: flex;
      justify-content: space-between;
    }
  
      .content {
        width: 65%;
        margin-bottom: 2%;
      }
    
  }
  